<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.4.1" targetFramework="net48" />
  <package id="Laserfiche.SDK.DocumentServices" version="12.0.2509.107" targetFramework="net48" />
  <package id="Laserfiche.SDK.HttpClient" version="12.0.2509.107" targetFramework="net48" />
  <package id="Laserfiche.SDK.LaserficheImaging" version="12.0.26174.3" targetFramework="net48" />
  <package id="Laserfiche.SDK.RepositoryAccess" version="12.0.2509.107" targetFramework="net48" />
  <package id="Laserfiche.SDK.TextProviderClient" version="11.0.2401.1649" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>